[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = "hello_world "
[access "refs/*"]
	owner = group user/susnas
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/susnas
	label-Verified = -1..+1 group user/susnas
	push = group user/susnas
	read = group user/susnas
	rebase = group user/susnas
	removeReviewer = group user/susnas
	submit = group user/susnas
[access "refs/heads/*"]
	create = group user/susnas
	push = +force group user/susnas
	pushMerge = group user/susnas
	read = group user/susnas
[access "refs/tags/*"]
	push = group user/susnas
	push = +force group user/susnas
